<component name="libraryTable">
  <library name="mybatis-3.2.7">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/mybatis-3.2.7.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://G:/视频教程/javaWeb/day01/res/jar包/mybatis-3.2.7-source.zip!/mybatis-3-mybatis-3.2.7/src/main/java" />
      <root url="jar://G:/视频教程/javaWeb/day01/res/jar包/mybatis-3.2.7-source.zip!/mybatis-3-mybatis-3.2.7/src/test/java" />
    </SOURCES>
  </library>
</component>